/* ==========================================================================

// Layout File
// Layout file used to create the page structure.

/* ========================================================================== */


*,
*:after,
*:before {
  @include box-size;
 /* overflow-y: scroll;*/
}

body{
	overflow-y: scroll;
}

.wrapper{
max-width: $break-wide;
min-width: ($break-mobile - 20px);

}