/* ==========================================================================

// Base File
// Set up all global variables and naming conventions.

    

/* COLOR DEFAULTS
========================================================================== */

/* Colours -  Defined only once */
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$red: #FF0000;
$white: #fff;
$black: #000;
$grey: #333;
$light-grey:#ececec;

/* Mark-up - selectors used throughout site. */
$primary-color: $orange;
$secondary-color: $green;
$tertiary-color: $grey;
$accent-color: $blue;
$error-color: $blue;


