/* ==========================================================================

// Mixin File
// Usefull mixins & re-usable code.

/* BOX SIZEING -
========================================================================== */

@mixin boxsizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
}

/* CSS3 PROPERTIES -
========================================================================== */

@mixin transition {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@mixin fade {
	-moz-transition: all 1s ease-in;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
@mixin rounded-corners($arc) {
	-moz-border-radius: $arc;
	-webkit-border-radius: $arc;
	border-radius: $arc; /* future proofing */
	-khtml-border-radius: $arc; /* for old Konqueror browsers */
}

/* LINEAR GRADIENT -
========================================================================== */

@mixin gradient ($top,
$bottom) {
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top left, $top 0%, $bottom 100%); /* Mozilla Firefox */
	background-image: -moz-linear-gradient(top left, $top 0%, $bottom 100%); /* Opera */
	background-image: -o-linear-gradient(top left, $top 0%, $bottom 100%); /* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, $top), color-stop(1, $bottom)); /* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top left, $top 0%, $bottom 100%); /* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom right, $top 0%, $bottom 100%);
}