/* ==========================================================================

// Main Content  File 
// Website theme styles.

/* ========================================================================== */

body {
	background: $light-grey;
	height: 100%;
}

header img {
	position: absolute;
	left: 40%;
	top: 20%;
}