/* ==========================================================================

// Buttons File
// Button styles and placeholder css.

/* PLACEHOLDER 
========================================================================== */

%btn {
	text-align: center;
	padding: 10px 15px;
	curser: pointer;
}

/* BUTTONS
========================================================================== */

.primary-btn {
	@extend %btn;
	background: $accent-color;
	color: $white;
	&:hover {
		background: tint( $accent-color, 10% );
	}
}
.secondary-btn {
	@extend %btn;
	background: $base-color;
	color: $black;
	&:hover {
		background: tint( $base-color, 10% );
	}
}