/* ==========================================================================

// Buttons File
// Button styles and placeholder css.

/* PLACEHOLDER 
========================================================================== */

%btn {
	text-align: center;
	padding: 10px 15px;
	curser: pointer;
}

/* BUTTONS
========================================================================== */

